.nav{
    padding-left: 170px;
    padding-right: 50px;
    padding-top: 30px;
    gap: 5PX;
    font-size: 15px;
    border:4px solid rgba(232,72,28,255);
    height: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.nav-item{
    width: 1120px;
    font-weight: 500;
    color: white;
}
#cop{
    color: rgba(232,72,28,255);
}
.header{
    background-color: rgba(52,67,74,255);
    height: 20vh;
}
.nav-link{
    text-decoration: none;
    color: white;
}
#web{
    color: white;
    text-align: center;
    margin-top: -280px;
}
#web>h1{
    height: 80px;
    font-weight: 600;
    font-size: 50px;
}
#web>p{
    font-size: 20px;
}
.subs{
    padding-left: 170px;
    padding-right: 100px;
    padding-top: 30px;
    margin-top: 170px;
}
.sub-item{
    width: 300px;
    font-weight: bolder;
    color: white;

}
.form-controlborder-success{
    width: 250px;
    height: 30px;
    font-size: 12px;
    
}
.mb-4{
    margin-left: 1050px;
    margin-top: -35px;
    
}
#subsc{
    background-color: rgba(232,72,28,255);
    width: 100px;
    height: 30px;
    font-size: 12px;
    color: white;
}
#foot{
    background-color: rgba(232,72,28,255);
    text-align: center;
    color: white;
    font-size: 14px;
    height: 50px;
    margin-top: 10px;
}
#foot>p{
    padding-top: 15px;
}
#cont{
    text-align: left;
}
#container{
    border: 1px solid black;

}
p{
    font-size: 14px;
}
#what{
    background-color:rgba(52,67,74,255) ;
    color: white;
}
#Design{
    border: 1px solid black;
    width: 600px;
    margin-left: 170px;
}
.col{
    text-align: left;
}
#services{
    margin-left: 170px;
    
}
@media only screen and (max-width : 576px){
    .header{
        width: 576px;
        height: 240px;
    }
    .nav-item{
        margin-left: 20px;
    }
    .nav{
        height: 120px;

    }
    .nav-item1{
        margin-left: px;
        width: 70px;
        margin-top: -20px;
    }
    .nav-item2{
        margin-left: px;
        width: 70px;
        margin-top: -20px;
    }
    .nav-item3{
        margin-left: px;
        width: 70px;
        margin-top: -20px;
    }
    .sub-item{
        margin-left: -10px;
        width: 300px;
        margin-top: -60px;
    }
    .mb-4{
        margin-left: -10px;
        margin-top: 10px;
    }
    #subsc{
        margin-top: 5px;
        margin-left:80px;
    }
    #Design{
        margin-left: 20px;
    }
    #services{
        margin-left: 20px;
    }
}
