body{
    text-align: center;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
.guitar{
    height: 100vh;
    background-image: url(../photo/guitarist.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    background-position: center;
    border: 1px solid black;
    background-color: black;
}
.givcl{
    display: grid;
    margin-top: 40vh;
}
.gift1{
    display: grid;
    justify-content: right;
  
}
.upper{
    display: grid;
    background-color: rgb(77, 75, 75);
    color: white;
    text-align: left;
}
.forsel{
    font-size: 15px;
    height: 30px;
}
#ov{
    border: 1px solid rgb(77, 75, 75);
    margin-top: -21px;
    margin-left: 120px;
    width: 100px;
    text-align: center;
    transition: 0.1s;

}
#ov:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 10px;
    

}
#ren{
    border: 1px solid rgb(77, 75, 75);
    margin-top: 4px;
    margin-left: 5px;
    width: 100px;
    text-align: center;
    transition: 0.1s;

}
#ren:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 10px;


}
#mus{
    border: 1px solid rgb(77, 75, 75);
    margin-top: -21px;
    margin-left: 240px;
    width: 100px;
    text-align: center;
    transition: 0.1s;

}
#mus:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 10px;


}
#vid{
    border: 1px solid rgb(77, 75, 75);
    margin-top: -21px;
    margin-left: 360px;
    width: 100px;
    text-align: center;
    transition: 0.1s;

}
#vid:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 10px;

}
#gif{
    border: 1px solid rgb(77, 75, 75);
    margin-top: -21px;
    margin-left: 480px;
    width: 100px;
    text-align: center;
    transition: 0.1s;

}
#gif:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 10px;

}
#trail{
     text-decoration: none;
     color: white;
}
#start{
    background-color: darkred;
    width: 180px;
    height: 27px;
    margin-left: 780px;
    margin-top: 30px;
    transition: 1s;

}   
#start:hover{
    background-color: red;
}
#pad{
    position: relative;
}
#screen{
    position: absolute;
    margin-left: -1140px;
    width: 1110px;
    height: 820px;
    margin-top: 75px;
    border-radius: 10px;
}
#mor{
    text-decoration: none;
     color: white;

}
#read{
    background-color: darkred;
    width: 180px;
    height: 27px;
    margin-left: 780px;
    margin-top: 30px;
    transition: 1s;

}
#read:hover{
    background-color: red;
}
.tv{
    background-color: black;
    margin: 0;
    color: white;
}
#tvs{
    margin-top: 100px;
}
.enter{
    color: white;
    margin-top: 100px;
    background-image: url(/photo/enter.jpg);
    height: 50vh;
    background-repeat: no-repeat;
}
#ment{
    margin-top: 220px;
}
.gift{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50vh;
    text-align: left;
}
hr{
    border-bottom: none ;
    border-left: none;
    border-right: none;
}
#red{
    text-decoration: none;
    color: black;
}
#card{
    background-image: url(/photo/cards.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.list-set{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
    margin: 0;
    height: 150px;
}
#un{
    border: 1px solid white;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
}
li{
    font-size: 12px;
}
.bottom{
    background-color: rgb(77, 75, 75);
    margin: 0;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white;
}

  
