
body{
    font-family: "Mulish", sans-serif;
    
    margin: 0;
    padding-left: 230px;
    padding-top: 50px;
}

div>img{
    width: 300px;
    height: 300px;
    border-radius: 155px;
    border: 10px solid orange;
}

h1{
    font-size: 100px;
}
#main{
    text-align: center;
    width: 1440px;
    
    margin: 0;
}
#content{
    font-size: 30px;
}